.miembro {
  background-color: #eaeaea;
  z-index: -1;
  display: inline-block;
  white-space: normal;
  vertical-align: top;

  width: var(--member-width);
  height: 800px;
  padding: 10px;

  margin: 0.5vw;
  margin-bottom: 20px;
  border-radius: 0.5vw;
  box-shadow: 0px 7px 16px rgba(50,50,50,0.5);
  position: relative;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.miembro h1{
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0px;
  color: #323232;
  font-weight: 700;
  margin-top: 20px;
}

.miembro h2{
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  color: #505050;
  text-align: center;
  margin: 0px;
  font-weight: 400;
  margin-bottom: 3vh;
  margin-top: 0px;
}

.miembro h2:first-of-type{
  margin-bottom: 1vh;
}

.desc {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  background: rgba(0,0,0,0.3);
  padding: 15px 20px;
}

.desc p{
  text-align: justify;
  margin: 0px;
  text-indent: 2em;
}

#members {
  white-space: nowrap;
  overflow-x: auto; /* <-- show horizontal scrollbar */
  overflow-y:hidden; /* <-- hide vertical scrollbar */
  box-shadow: 0px 7px 16px rgba(50,50,50,0.3) inset;
  margin-top: 0px;
}

#mCSB_1_container {
  padding-top: 0.5vw;
  padding-bottom: 1vw;
}

/* ICONOS */
.miembro h2 span{
  margin-left: 0px;
  margin-right: 0.1em;
}
.miembro h2 a{
  text-decoration: none;
}

/* COLORS DE LA PENYA */
:root {
    --member-width: 400px;
    --mimi-bg: OliveDrab;
    --mimi-bg2: rgba(212,238,159,0.5);
    --mimi-text1: #260339;
    --mimi-text2: #550000;
    --mimi-text3: #352700;

    --jojo-bg: LightSkyBlue;
    --jojo-bg2: rgba(47,19,30,0.5);
    --jojo-text1: #fcecc9;
    --jojo-text2: #372554;
    --jojo-text3: #fcecc9;

    --andrea-bg: gold;
    --andrea-bg2: rgba(255,255,255,0.5);
    --andrea-text1: #ff4c00;
    --andrea-text2: #9b2e00;
    --andrea-text3: #24096b;

    --arcadi-bg: white;
    --arcadi-bg2: rgba(0,56,168,0.5);
    --arcadi-text1: #FF004E;
    --arcadi-text2: #734F96;
    --arcadi-text3: white;

    --patri-bg: orange;
    --patri-bg2: rgba(255,255,255,0.5);
    --patri-text1: #503232;
    --patri-text2: #ffffff;
    --patri-text3: #000000;
}
