.restus button{
  margin-left: 2em;
  font-size: 2em;
  font-family: "Open Sans Condensed", sans-serif;
  color: #323232;
}

.latabla{
  display: block;
  width: 100%;
}

.tablement {
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  padding: 0px;
  margin: 1vw;
  float: left;
  display: block;
  position: relative;
  object-fit: contain;
}

.tablement .placeholder{
  width: 100%;
  margin: 0px;
  height: 200px;
}

.tablement > a > img {
  width: 100%;
  margin: 0px;
}

.tablement:hover, #prox:hover{
  background-color: #fafafa;
  box-shadow: 7px 7px 16px rgba(0,0,0,0.3);
}

.tablement .desc{
  padding: 10px 20px;
  padding-bottom: 30px;
}

.tablement h2{
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #323232;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 10px;
}

.tablement a{
  text-decoration: none;
}

#prox{
  background-color: #dadada;
  padding: 0px;
}

#prox .desc{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#prox h2{
  color: #323232;
  font-size: 3em;
  text-align: center;
}

#prox span{
  position: relative;
  color: #323232;
  font-size: 10em;
  margin: 0px;
}

.deco {
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0px;
  background-color: #70DBF4;
}

.tablement:hover .deco{
  background-color: #DB2955;
  height: 15px;
}

/** PARA IFRAMES I TAL **/
#tve {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

/** PARA ARTÃCULOS Y ESAS COSAS **/
#transcript, #original {
  overflow-y: auto;
  height: 85%;
}

#warnung h1 {
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #646464;

}

#warnung h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #a0a0a0;
  margin-top: 0px;
  font-size: 1.2em;
}

#warnung h2:hover{
  background-color: #a0a0a0;
  color: white;
}

#transcript > h1{
  font-family: "Open Sans Condensed", sans-serif;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.5em;
}

#transcript > h2{
  font-family: "Open Sans Condensed", sans-serif;
  color: #808080;
  letter-spacing: 0.07vw;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 1.2em;
}

#transcript > h3{
  font-family: "Open Sans", sans-serif;
  color: #dd3232;
  display: inline;
  margin-top: 0px;
  font-size: 1em;
  text-decoration: underline;
}

#transcript > h4{
  font-family: "Open Sans", sans-serif;
  color: #b0b0b0;
  display: inline;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 1em;
}

#transcript p {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  text-align: justify;
  font-size: 1em;
  margin-right: 20px;
}

#transcript > .transcimg{
  width: 40%;
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  position: relative;
  top: 2em;
  margin-right: 20px;
}

#transcript > .transcimg > img{
  width: 100%;
  position: relative;
  top: 1em;
}

#transcript > .transcimg > p {
  text-align: right;
  color: #808080;
  margin-bottom: 0px;
  margin-right: 0px;
}

#transcript > p {
  text-indent: 2em;
}

#transcript p > a:link{
  color: #0D6F70;
  font-weight: 700;
}

#transcript p > a:visited, #transcript p > a:hover{
  color: hotpink;
}
